@use "../tools/variables" as *;
@use "../tools/mixins" as *;

// header {
//   @include displayFlex(row, center, center, 10px);
//   padding: 10px 30px;
//   background-color: $ivory;

//   .logo {
//     width: 100px;
//   }

//   .nav {
//     position: relative;
//     @include displayFlex(column, none, none, none);
//     width: 100%;

//     &_burger {
//       @include displayFlex(column, center, center, 8px);
//       align-self: flex-end;
//       z-index: 1;

//       span {
//         display: block;
//         height: 2px;
//         width: 30px;
//         background-color: $brown;
//       }
//     }
//     &_links {
//       position: absolute;
//       top: 0;
//       right: 0;
//       @include displayFlex(column, center, flex-start, 10px);
//       padding: 20px;
//       flex-wrap: wrap;
//       background-color: $ivory;
//     }
//   }
// }

.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  @include displayFlex(row, space-between, center, 10px);
  padding: 10px 20px;
  background-color: $ivory;

  &_logo {
    width: 100px;
  }
  &_burger {
    @include displayFlex(column, center, center, 8px);

    span {
      display: block;
      height: 2px;
      width: 25px;
      background-color: $brown;
    }
  }
  &_links {
    position: fixed;
    top: 80px;
    right: -100%;
    z-index: 2;
    @include displayFlex(column, center, flex-start, 10px);
    padding: 20px;
    flex-wrap: wrap;
    background-color: $ivory;
  }
}
