@use "../tools/variables" as *;
@use "../tools/mixins" as *;

header {
  @include displayFlex(column, center, center, 30px);
  padding: 30px;
  background-color: $ivory;

  .logo {
    width: 150px;
  }

  .nav {
    @include displayFlex(row, center, center, 30px);
    flex-wrap: wrap;
    font-size: 1rem;
  }
}
